body {
    background-color: #1e3d58;
    margin: 0;
    font-family: Arial, sans-serif;
}

form, #saturs, #labotFormu {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

form label, form input, form select {
    margin-bottom: 15px;
    width: 100%;
    color: #000;
}

form button {
    max-width: 150px;
    align-self: flex-start;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #007784;
}

h3 {
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.btn{
    max-width: 150px;
    align-self: flex-start;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #007784;
}

#labotFormu {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
